@{
    ViewBag.Title = "Alabaster - Soulaxis";
}

@Styles.Render("/Content/bootstrap.datepicke2r.css")

<div class="row" style="margin-top: 50px">
    <section class="main">
        <div id="page_schedule" class="page">
            @Html.Partial("~/Views/Shared/Templates/Schedule.cshtml")
        </div>
        <div id="page_songs" class="page">
           @Html.Partial("~/Views/Shared/Templates/Songs.cshtml")
        </div>
    </section>
</div>
@section scripts {
    <script src="~/Scripts/sammy-0.7.4.min.js"></script>
    <script src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/app/ViewModel/ScheduleViewModel.js"></script>
    <script src="~/Scripts/app/ViewModel/SongsViewModel.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script>
        app = new App();
        app.init();

        //adhoc 3rd party init
        $('#scheduleDP .input-group.date').datepicker({
            format: "M/yyyy",
            startView: 1,
            minViewMode: 1
        });
    </script>
}